{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'crudApp/base.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>
    <header>
        <p id="title">모두의 수다</p>
        <div id="buttonWrapper">
            <a href="create" class="myButton">새 글 만들기</a>
        </div>
    </header>
    
    <div id="page-content">
    {% block content %}
    {% endblock content %}
    </div>

    <div id="modal">
    </div>

    <footer>
        <div class="footerEle" id="footerCopy">
            <h4>About Production</h4>
            <p>Copyright &copy; 2019 Likelion has All Right Reserved. </p>
        </div>

        <div class="footerEle" id="footerMember">
            <center><h4 class = "center"> 구성원 </h4></center>
            <p>김동원 박도현</p>
            <p>신봉근 임한영</p>
        </div>
        
        <div class="footerEle" id="footerLikeLion">
            <img id="likelion" src="https://likelion.net/assets/logo/likelion-white-a930fbcdf3042a50ba882ece9c02f43536971297a8e143e212d9b92d653bfa44.png">
        </div>
    </footer>

    <script src="{% static 'crudApp/js/vue.js' %}"></script>
    <script type="module" src="{% static 'crudApp/js/index.js' %}"></script>
    
    {% block script %}
    {% endblock script %}
</body>
</html>
