{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'crudApp/base.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
</head>
<body>
    <header>
        <p id="title">모두의 수다</p>
        <div id="buttonWrapper">
            <a href="create" class="myButton">새 글 만들기</a>
        </div>
    </header>
    
    <div id="page-content">
    {% block content %}
    {% endblock content %}
    </div>

    <footer>
        <p>T U N A S T R E A M</p>
    </footer>
</body>
</html>

 