{% extends 'crudApp/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'crudApp/css/create.css' %}">
{% endblock stylesheet %}

{% block content %}
<center class="cont">
    <br><br><br><br><br><br>
    <h1 class="title"> {{post.title}} </h1>
    <br><br><br>
    <div class="contcont">
        <br><br><br>
        <i>
            <p style="width : 50%" class="content">{{post.content}} </p>
        </i>
        <br><br><br>
    </div>
    <br><br><br>
    <p>{{post.pub_date}} </p>
    <br><br><br><br><br><br>
</center>
<br><br><br><br><br><br>

{% for comment in selectedComments %}
<div class="comment">
    <br>
    <p>{{comment.author}}</p>
    <p>{{comment.content}}</p>
    <p>{{comment.pub_date}}</p>
    <br>
</div>
<br>
{% endfor %}
<br>
{% if selectedComments.has_other_pages %}
<ul class="pagination">
    {% if selectedComments.has_previous %}
    <li><a href="?page={{ selectedComments.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in selectedComments.paginator.page_range %}
    {% if posts.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if posts.has_next %}
    <li><a href="?page={{ selectedComments.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}


<br><br><br><br><br><br>
<h1>댓글 쓰기</h1>
<form action="addComment" method="post">
    {% csrf_token %}
    <h4>내용: </h4>
    <textarea type="text" name="content" cols="50" rows="10" id="commentText"></textarea>
    <br><br>
    <input type="submit" value="댓글달기">
</form>
{% endblock content %}