<style>
    @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'KimNamyun'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KimNamyun.woff') format('woff'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
    .cont .title {
        font-family : 'Binggrae-Bold';
    }
    .cont .content {
        font-family : 'KimNamyun';
        font-size : 2.0em;
    }
    .cont {
        background-color : #CCCCCC;
    }
    .contcont{
        background-color : #DDDDDD;
        width : 80%;
    }
    body *{
        font-family : 'HangeulNuri-Bold';
    }
    html {
        background-color : #AA0000;
    }
    input, button {
        color : white;
        background-color : #000055;
        padding-left : 30px;
        padding-right : 30px;
        padding-top : 10px;
        padding-bottom : 10px;
        border-radius: 10%;
        letter-spacing : 5px;
    }
    .comment {
        background-color : gray;
    }
    div {
        padding-left : 10px;
    }
    #commentText {
        background-color : #EEEEEE;
    }

</style>
<body>
    <center class="cont">
    <br><br><br><br><br><br>
        <h1 class="title"> {{post.title}} </h1>
        <br><br><br>
        <div class="contcont">
        <br><br><br>
        <i><p style="width : 50%" class = "content">{{post.content}} </p></i>
        <br><br><br>
        </div>
        <br><br><br>
        <p>{{post.pub_date}} </p>
        <br><br><br><br><br><br>
    </center>



    <br><br><br><br><br><br>
    
    {% for comment in post.comment_set.all %}
        <div class ="comment">
            <br>
            <p>{{comment.author}}</p>
            <p>{{comment.content}}</p>
            <p>{{comment.pub_date}}</p>
            <br>
        </div>
        <br>
    {% endfor %}
    <br>
    


    <br><br><br><br><br><br>
    <h1>댓글 쓰기</h1>
    <form action="addComment" method="post">
    {% csrf_token %}
        <h4>내용: </h4>
        <textarea type="text" name="content" cols="50"rows="10" id="commentText"></textarea>
        <br><br>
        <input type="submit" value="댓글달기">
    </form>
</body>
