{% extends 'crudApp/base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'crudApp/index.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div id="container">
        {% for post in posts %}
            <div class="post">
                <h1><a href="{{post.id}}/detail" class = 'title'>{{post.title}}</a></h1>
                <p>{{post.summary}}</p>
                <div class="postFooter">
                    <p>{{post.pub_date}}</p>
                    <div class="postFooterModifySection">
                        <a href="{{post.id}}/update" class="myButton">수정</a>
                        <a href="{{post.id}}/delete" class="myButton">삭제</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
